{% include '../shared/_header.html' %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white" id="formContact">
                    <!-- Page heading-->
                    <h1 class="mb-5">Digite o seu email e entraremos em contato!</h1>
                    <!-- Signup form-->
                    {% if contato is None %}
                        {% include '../contato/_incluir.html' %}
                    {% else %}
                        {% include '../contato/_alterar.html' %}
                    {% endif %}
                    <div id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <br>
                            {% if erro != None %}
                                <div class="alert alert-danger" role="alert">
                                    {{erro}}
                                </div>
                            {% elif sucesso != None %}
                                <div class="alert alert-success" role="alert">
                                    {{sucesso}}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="testimonials text-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Tabela de contatos</h2>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for contato in contatos %}
                <tr>
                    <th scope="row">{{contato.id}}</th>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.email}}</td>
                    <td>
                        <a href="/contato?id={{contato.id}}" class="btn btn-warning">
                            Alterar
                        </a>
                    </td>
                    <td>
                        <a href="javascript:;" onclick="if(confirm('Confirma?')) { window.location.href = '/contato/excluir?id={{contato.id}}' }" class="btn btn-danger">
                            Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h2 class="mb-4">Para entrar em contato conosco no suporte geral clique na opção abaixo</h2>
                <a href="mailto:suporte@torneseumprogramador.com.br" class="email-contato">Clique aqui para enviar
                    email</a>
            </div>
        </div>
        <hr>
        <h2 class="mb-5">Qual dev você pretente falar ?</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/public/assets/img/testimonials-1.jpg" alt="..." />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">
                        <a href="mailto:suporte@torneseumprogramador.com.br" class="email-contato">Clique aqui para
                            enviar email</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/public/assets/img/testimonials-2.jpg" alt="..." />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">
                        <a href="mailto:suporte@torneseumprogramador.com.br" class="email-contato">Clique aqui para
                            enviar email</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="/public/assets/img/testimonials-3.jpg" alt="..." />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">
                        <a href="mailto:suporte@torneseumprogramador.com.br" class="email-contato">Clique aqui para
                            enviar email</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
{% include '../shared/_footer.html' %}