{% include '../shared/_header.html' %}
<!-- Image Showcases-->
<section class="showcase">
    <div class="row g-0">
        <div class="col-lg-6 text-white showcase-img"
            style="background-image: url('/public/assets/img/bg-showcase-2.jpg')"></div>
        <div class="col-lg-6 my-auto showcase-text">
            <h2>Sobre aplicação</h2>
            <p class="lead mb-0">
                Uma aplicação criada no desafio de Python feito junto com os alunos do torne-se um programador
                <br>
                Para mais informações acesse: <a href="https://cursos.torneseumprogramador.com.br/index.html"
                    target="_blank">https://cursos.torneseumprogramador.com.br</a>
            </p>
        </div>
    </div>
    </div>
</section>
{% include '../shared/_footer.html' %}